* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
.list-container h2{
  text-align: center;
  padding: 20px;
}
.photo-row {
  display: flex;
  align-items: center;
  margin: 10px auto;
  max-width: 850px;
}
.photo-detail {
  padding-left: 20px;
}
.remove-btn {
  color: #ccc;
  font-weight: bold;
  cursor: pointer;
}